
@{
    ViewBag.Title = "AboutFDM";
    Layout = "~/Views/Shared/_Success.cshtml";
}

<h2>AboutFDM</h2>

<iframe width="560" height="315" src="https://www.youtube.com/embed/JGtuCChg-dg" 
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen></iframe>

