@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>FDM User</h1>
    <p class="lead">FDM Group is a technology company to provide service to mulitiple companies by sending their own consultant.</p>
    <p><a href="fdmgroup.com" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            We recruit, train and deploy IT and business professionals to work with our clients around the world, 
            creating careers and bridging the digital skills gap
        </p>
    </div>
    <div class="col-md-4">
        <h2>Client Service</h2>
        <p>
            At FDM we work in partnership with our clients, across a number of sectors, providing access to a skilled,
            highly diverse pipeline of talent to work as part of their technology teams. Our consultants undergo rigorous 
            training across in-demand technologies, in learning environments that are designed to mirror real world business
            challenges and working practices. We have a comprehensive consultant support programme in place to ensure we 
            provide happy and successful placements for our clients and consultants,
            including learning and development offerings, wellbeing and mentoring programmes, and networking events.
        </p>
       
    </div>
    <div class="col-md-4">
        <h2>Contact</h2>
        <p>
            NYC
            <br />
            +1 917 789 1069
            <br />
            14 Wall Street
            <br />
            New York, NY 10005
        </p>
       
    </div>
</div>