
@{
    ViewBag.Title = "OurOffice";
    Layout = "~/Views/Shared/_Success.cshtml";
}

<h1>OurOffice</h1>

<hr />

<h3>London</h3>
<p>
    London
    <br />
    020 3056 8240
    <br />
    Cottons Centre, Cottons Lane
    <br />
    London, SE1 2QG
    <br />

    <br />
    Leeds
    <br />
    0113 331 5048
    <br />
    No. 1 Whitehall Riverside
    <br />
    Leeds, West Yorkshire LS1 4BN
    <br />

    Glasgow
    <br />
    0141 218 3100
    <br />
    1 West Regent Street, 6th Floor
    <br />
    Glasgow, G2 1RW
</p>

<hr />
<h3>USA</h3>
<p>
    NYC
    <br />
    +1 917 789 1069
    <br />
    14 Wall Street
    <br />
    New York, NY 10005
    <br />
    <br />

    Arlington
    <br />
    +1 804-368-4846
    <br />
    901 N Glebe Road, 5th Floor
    <br />
    Arlington, VA 22203
    <br />
    <br />

    Austin
    <br />
    +1 917 789 1069
    <br />
    316 West 12th Street
    <br />
    Austin, TX, 78701
    <br />
    <br />

    Charlotte
    <br />
    +1 917 789 1069
    <br />
    128 South Tryon St
    <br />
    Charlotte, NC, 28202
</p>

